
<!--
.bg1 {background-color: #FFD667;}

.bg3 {background-color: #583682;}

.bgtabon {background-color: #FFD667;}

.bgtaboff {background-color: #583682;}

.texttabon {color: #583682;}

.texttaboff {color: #ffffff;}

td.tabon { background-color: #FFD667; color: #583682; }
.tabon A:link { color: #583682; }
.tabon A:visited { color: #583682; }
.tabon A:active { color: #583682; }
.tabon A:hover { color: #583682; }

td.taboff { background-color: #583682; color: #ffffff; }
.taboff A:link { color: #ffffff; }
.taboff A:visited { color: #ffffff;  }
.taboff A:active { color: #ffffff;  }
.taboff A:hover { color: #ffffff;  }

.ChanBoxBg {background-image: url(/media/org/jasig/portal/channels/CUserPreferences/tab-column/channel/chan_box_bg.gif); background-color: #583682;}
.setupBox {border:2px #FFD667 solid;}
-->
